
bin/Debug/BarcodeStandard.dll
bin/Debug/de/DevExpress.Data.v17.2.resources.dll
bin/Debug/de/DevExpress.DataAccess.v17.2.UI.resources.dll
bin/Debug/de/DevExpress.DataAccess.v17.2.resources.dll
bin/Debug/de/DevExpress.Office.v17.2.Core.resources.dll
bin/Debug/de/DevExpress.PivotGrid.v17.2.Core.resources.dll
bin/Debug/de/DevExpress.Printing.v17.2.Core.resources.dll
bin/Debug/de/DevExpress.Pdf.v17.2.Core.resources.dll
bin/Debug/de/DevExpress.Diagram.v17.2.Core.resources.dll
bin/Debug/de/DevExpress.Sparkline.v17.2.Core.resources.dll
bin/Debug/de/DevExpress.RichEdit.v17.2.Core.resources.dll
bin/Debug/de/DevExpress.Utils.v17.2.UI.resources.dll
bin/Debug/de/DevExpress.XtraBars.v17.2.resources.dll
bin/Debug/de/DevExpress.Xpo.v17.2.resources.dll
bin/Debug/de/DevExpress.XtraCharts.v17.2.Wizard.resources.dll
bin/Debug/de/DevExpress.XtraGauges.v17.2.Core.resources.dll
bin/Debug/de/DevExpress.XtraLayout.v17.2.resources.dll
bin/Debug/de/DevExpress.XtraGrid.v17.2.resources.dll
bin/Debug/de/DevExpress.XtraEditors.v17.2.resources.dll
bin/Debug/de/DevExpress.XtraNavBar.v17.2.resources.dll
bin/Debug/zh-CHT/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/System.Xml.XPath.XDocument.dll
bin/Debug/System.Xml.XPath.dll
bin/Debug/VSLangProj2.dll
bin/Debug/zh-CHS/Microsoft.ReportViewer.Common.resources.dll
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/ExportBill.CreateService.resources
obj/Debug/ExportBill.csproj.CopyComplete
obj/Debug/ExportBill.csproj.FileListAbsolute.txt
obj/Debug/ExportBill.csproj.CoreCompileInputs.cache
obj/Debug/ExportBill.csproj.GenerateResource.cache
obj/Debug/ExportBill.csprojAssemblyReference.cache
obj/Debug/ExportBill.exe
obj/Debug/ExportBill.CreateUser.resources
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/exportbill.exe.licenses
obj/Debug/ExportBill.Login.resources
obj/Debug/ExportBill.Main.resources
obj/Debug/ExportBill.PrintInvoiceForm.resources
obj/Debug/ExportBill.Properties.Resources.resources
obj/Debug/RdlCompile.cache
obj/Debug/ExportBill.pdb
obj/Debug/ExportBill.FindCustomer.resources
obj/Debug/ExportBill.exe.config
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/RdlCompile.compiled
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TempPE/Report.DataSet1.Designer.cs.dll
bin/Debug/zh-CHT/Microsoft.ReportViewer.WebForms.resources.dll
bin/Debug/zh-CHT/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/zh-CHT/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/zh-CHT/Microsoft.ReportViewer.WebDesign.resources.dll
bin/Debug/System.Threading.Overlapped.dll
bin/Debug/System.Threading.dll
bin/Debug/System.Threading.Tasks.dll
bin/Debug/System.Threading.Tasks.Dataflow.dll
bin/Debug/System.Threading.Tasks.Extensions.xml
bin/Debug/System.Threading.Thread.dll
bin/Debug/System.Threading.Tasks.Parallel.dll
bin/Debug/System.Threading.Timer.dll
bin/Debug/System.ValueTuple.xml
bin/Debug/System.ValueTuple.dll
bin/Debug/System.Xml.XDocument.dll
bin/Debug/System.Xml.ReaderWriter.dll
bin/Debug/System.Xml.XmlDocument.dll
bin/Debug/System.Xml.XmlSerializer.dll
bin/Debug/VSLangProj.dll
bin/Debug/VSLangProj80.dll
bin/Debug/zh-CHS/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/zh-CHS/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/zh-CHS/Microsoft.ReportViewer.WebDesign.resources.dll
bin/Debug/zh-CHS/Microsoft.ReportViewer.WebForms.resources.dll
bin/Debug/zh-CHS/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/zh-CHT/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/System.Resources.ResourceManager.dll
bin/Debug/System.Reflection.Primitives.dll
bin/Debug/System.Resources.Writer.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
bin/Debug/System.Runtime.CompilerServices.VisualC.dll
bin/Debug/System.Runtime.dll
bin/Debug/System.Runtime.Extensions.dll
bin/Debug/System.Runtime.Handles.dll
bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
bin/Debug/System.Runtime.Numerics.dll
bin/Debug/System.Runtime.Serialization.Formatters.dll
bin/Debug/System.Runtime.Serialization.Json.dll
bin/Debug/System.Runtime.Serialization.Xml.dll
bin/Debug/System.Runtime.Serialization.Primitives.dll
bin/Debug/System.Security.Claims.dll
bin/Debug/System.Security.Cryptography.Algorithms.dll
bin/Debug/System.Security.Cryptography.Csp.dll
bin/Debug/System.Text.Encodings.Web.xml
bin/Debug/System.Text.Encodings.Web.dll
bin/Debug/System.Text.Json.dll
bin/Debug/System.Text.Json.xml
bin/Debug/System.Text.Encoding.Extensions.dll
bin/Debug/System.Text.RegularExpressions.dll
bin/Debug/System.Threading.Tasks.Extensions.dll
bin/Debug/System.Threading.ThreadPool.dll
bin/Debug/System.Net.Ping.dll
bin/Debug/System.Net.Primitives.dll
bin/Debug/System.Net.Requests.dll
bin/Debug/System.Net.Security.dll
bin/Debug/System.Net.Sockets.dll
bin/Debug/System.Net.WebHeaderCollection.dll
bin/Debug/System.Net.WebSockets.Client.dll
bin/Debug/System.Net.WebSockets.dll
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/System.Numerics.Vectors.xml
bin/Debug/System.ObjectModel.dll
bin/Debug/System.Reflection.dll
bin/Debug/System.Reflection.Extensions.dll
bin/Debug/System.Resources.Reader.dll
bin/Debug/System.Runtime.InteropServices.dll
bin/Debug/System.Security.Cryptography.Encoding.dll
bin/Debug/System.Security.Cryptography.Primitives.dll
bin/Debug/System.Security.Cryptography.X509Certificates.dll
bin/Debug/System.Security.Principal.dll
bin/Debug/System.Security.SecureString.dll
bin/Debug/System.Text.Encoding.dll
bin/Debug/System.IO.FileSystem.Watcher.dll
bin/Debug/System.IO.IsolatedStorage.dll
bin/Debug/System.IO.MemoryMappedFiles.dll
bin/Debug/System.IO.Pipes.dll
bin/Debug/System.IO.UnmanagedMemoryStream.dll
bin/Debug/System.Linq.Expressions.dll
bin/Debug/System.Linq.dll
bin/Debug/System.Linq.Parallel.dll
bin/Debug/System.Linq.Queryable.dll
bin/Debug/System.Memory.dll
bin/Debug/System.Memory.xml
bin/Debug/System.Net.Http.dll
bin/Debug/System.Net.NameResolution.dll
bin/Debug/System.Net.NetworkInformation.dll
bin/Debug/ja/DevExpress.XtraVerticalGrid.v17.2.resources.dll
bin/Debug/ja/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/ja/Microsoft.ReportViewer.WebForms.resources.dll
bin/Debug/ja/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/ko/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/ko/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/ko/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/ko/Microsoft.ReportViewer.WebDesign.resources.dll
bin/Debug/ko/Microsoft.ReportViewer.WebForms.resources.dll
bin/Debug/ko/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
bin/Debug/Microsoft.Build.Framework.dll
bin/Debug/Microsoft.Build.Tasks.Core.dll
bin/Debug/Microsoft.Build.Utilities.Core.dll
bin/Debug/Microsoft.MSXML.dll
bin/Debug/Microsoft.ReportViewer.Common.dll
bin/Debug/Microsoft.ReportViewer.DataVisualization.dll
bin/Debug/Microsoft.ReportViewer.Design.dll
bin/Debug/Microsoft.ReportViewer.ProcessingObjectModel.dll
bin/Debug/Microsoft.ReportViewer.WebDesign.dll
bin/Debug/Microsoft.ReportViewer.WebForms.dll
bin/Debug/Microsoft.ReportViewer.WinForms.dll
bin/Debug/Microsoft.SqlServer.Types.dll
bin/Debug/Microsoft.VisualStudio.ComponentModelHost.dll
bin/Debug/Microsoft.VisualStudio.Data.Core.dll
bin/Debug/Microsoft.VisualStudio.Data.Services.dll
bin/Debug/Microsoft.VisualStudio.Debugger.Interop.11.0.dll
bin/Debug/Microsoft.VisualStudio.Debugger.InteropA.dll
bin/Debug/Microsoft.VisualStudio.GraphModel.dll
bin/Debug/Microsoft.VisualStudio.ManagedInterfaces.dll
bin/Debug/Microsoft.VisualStudio.OLE.Interop.dll
bin/Debug/Microsoft.VisualStudio.ProjectAggregator.dll
bin/Debug/Microsoft.VisualStudio.Shell.Interop.10.0.dll
bin/Debug/Microsoft.VisualStudio.Shell.Interop.11.0.dll
bin/Debug/Microsoft.VisualStudio.Shell.Interop.8.0.dll
bin/Debug/Microsoft.VisualStudio.Shell.Interop.9.0.dll
bin/Debug/Microsoft.VisualStudio.Shell.Interop.dll
bin/Debug/Microsoft.VisualStudio.TemplateWizardInterface.dll
bin/Debug/Microsoft.VisualStudio.TemplateWizardInterface.xml
bin/Debug/Microsoft.VisualStudio.TextManager.Interop.10.0.dll
bin/Debug/Microsoft.VisualStudio.TextManager.Interop.8.0.dll
bin/Debug/Microsoft.VisualStudio.TextManager.Interop.dll
bin/Debug/Microsoft.VisualStudio.VSHelp.dll
bin/Debug/Microsoft.Win32.Primitives.dll
bin/Debug/netstandard.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/pt/Microsoft.ReportViewer.Common.resources.dll
bin/Debug/pt/Microsoft.ReportViewer.DataVisualization.resources.dll
bin/Debug/pt/Microsoft.ReportViewer.Design.resources.dll
bin/Debug/pt/Microsoft.ReportViewer.WebDesign.resources.dll
bin/Debug/pt/Microsoft.ReportViewer.WebForms.resources.dll
bin/Debug/pt/Microsoft.ReportViewer.WinForms.resources.dll
bin/Debug/Report/Report1.rdlc
bin/Debug/ru/DevExpress.Data.v17.2.resources.dll
bin/Debug/ru/DevExpress.DataAccess.v17.2.resources.dll
bin/Debug/ru/DevExpress.DataAccess.v17.2.UI.resources.dll
bin/Debug/ru/DevExpress.Diagram.v17.2.Core.resources.dll
bin/Debug/de/DevExpress.Utils.v17.2.resources.dll
bin/Debug/de/DevExpress.XtraCharts.v17.2.resources.dll
bin/Debug/de/DevExpress.XtraPivotGrid.v17.2.resources.dll
bin/Debug/de/DevExpress.XtraPrinting.v17.2.resources.dll
bin/Debug/de/DevExpress.XtraReports.v17.2.Extensions.resources.dll
bin/Debug/de/DevExpress.XtraReports.v17.2.resources.dll
