
.vs/ExportBill/v15/Server/sqlite3/db.lock
.vs/ExportBill/v15/Server/sqlite3/storage.ide
.vs/ExportBill/v15/Server/sqlite3/storage.ide-shm
.vs/ExportBill/v15/Server/sqlite3/storage.ide-wal
ExportBill/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ExportBill/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ExportBill/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
